#current-song-screen-main-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-song-screen-sub-div {
  width: 50%;
}

.audio-scrollbar-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.audio-player-buttons-div {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.audio-player-buttons {
  display: flex;
  width: 155px;
  height: 50.241px;
  justify-content: space-between;
  align-items: center;
}
.player-button {
  display: flex;
  width: 42px;
  height: 42px;
  padding: 8px;
  border: none;
  gap: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.player-button i {
  font-size: 24px;
  color: #ffffff;
}

.player-button:active {
  background-color: #0e7139;
}
.icon-next {
  width: 25px;
  height: 25px;
  gap: 8px;
  opacity: 0.6;
  flex-shrink: 0;
}
.icon-backward {
  width: 23px;
  height: 23px;
  gap: 8px;
  opacity: 0.6;
  flex-shrink: 0;
}
.icon-vol {
  width: 20px;
  height: 16px;
  flex-shrink: 0;
}
.icon-ellipsis {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .audio-player-buttons-div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  #current-song-screen-sub-div {
    width: 96% !important;

    height: max-content;
  }

  .player-button {
    width: 48px;
    height: 48px;
    background-color: #1db954;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .current-song-cover-container {
    margin-top: auto;
    border: aliceblue solid 5px;
    border-radius: 38px;
  }
  .current-song-cover-image {
    width: -webkit-fill-available;
  }
  .artist {
    color: #070e1d;
  }
  .button_player {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  .button_player {
    display: flex;
    align-items: center;
    gap: 33.4px;
  }

  .current-song-cover-image {
    width: 100px;
    height: 100px;
  }

  .current-song-details-mobile {
    margin-left: 10px;
    color: azure;
    height: fit-content;
  }

  .audio_player {
    display: flex;
    padding: 0 0 10px;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  #coverimage-songdetails-div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
