.selectedTab {
  opacity: 1;
}
.unselectedTab {
  opacity: 0.5;
}

.tabText {
  margin: 10px 0;
  cursor: pointer;
}

.imgee {
  margin-top: 23px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.bgColorItem {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 18px;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}
