#songs-main-div {
  width: 100%;
  /* justify-content: center; */
  height: 100vh;
  /* align-items: center; */
  /* height: 100vh; */
  /* background-color: green; */
}

#songs-screen-title-container {
  color: white;
  /* background-color: aqua; */
  width: 100%;
}

#search-songs-container {
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
  /* display: flex; */
  position: relative;
}

#search-songs-input {
  width: 94%;
  border-radius: 6px;
  background-color: rgba(256, 256, 256, 0.08);
  border-color: transparent;
  /* background-color: pink; */
  padding-left: 10px;
  margin: 0;
  display: inline;
  /* border-width: 0; */
  height: 40px;
}

#search-icon-container {
  /* top: 0.2rem; */
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  height: 40px;
  z-index: 10;
  right: 3%;
}

.loader-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.loading-text {
  /* background-color: aqua; */
  display: inline;
  font-size: 24px;
}

.songs-list-container {
  height: 83vh;
  overflow: auto;
  /* overflow: visible; */
}
.songs-list-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  #songs-screen-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #songs-screen-header {
    position: sticky;
  }

  .loader-container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }
  .loading-text {
    /* background-color: aqua; */
    display: inline;
    font-size: 24px;
  }

  #songs-main-div {
    height: 100vh;
    overflow-y: auto;
    /* background-color: red; */
  }

  .songs-list-container {
    height: 85vh;
    overflow: auto;
    /* height: fit-content !important; */
    /* overflow-y: auto; */
    /* overflow: hidden; */
  }
}
