@font-face {
  font-family: "BasierCircle";
  src: url("./font/BasierCircle-Regular.ttf") format("truetype");
  /* Add more src lines for other font formats if needed */
}

* {
  margin: 0;
  padding: 0;
  color: white;
  /* font-family: "Basier Circle"; */
}
.item {
  margin-top: 10px;
}
.displaymax {
  display: none !important;
}
/* Styling for the player container */

/* Styling for the player buttons */


@media screen and (max-width: 768px) {
  .displaymax {
    display: block !important;
  }
  .display_none {
    display: none !important;
  }
  #display_none {
    display: none !important;
  }
}
